/* p {
    text-align: justify;
} */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p {font-size: 15px; text-align: justify; font-family: 'Roboto', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Condensed', sans-serif; font-style: bold;} /*margin-top: 0px; } */
    

    

/* p {font-size: 15px; text-align: justify; color: rgb(66, 66, 66); background: white; font-family: 'Open Sans', sans-serif; font-weight: 300;
border-top: 10px solid; border-image:   linear-gradient(to right, #ffc73b 30%, #63c3d6 30%, #63c3d6 60%, #e35b60 60%, #e35b60 85%, #834461 85%) 5;} */

/*h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', sans-serif;} /*margin-top: 0px; } */

/* pre {text-align: left; width: 1000px; margin: 0 auto;}

code {text-align: right; width: 30%;}


strong {font-weight: 700;}

h1.subsection {font-size: 80px;}*/

/* h1 {color: #834461; font-size: 40px;}
h2 {color: #e35b60; font-size: 30px;}
h3 {color: #63c3d6; font-size: 25px;}
h4 {color: #ffc73b; font-size: 20px;}
h5 {color: gray; font-size: 15px;} */


/*header, footer {font-size: 15px;}

mark {color: brown; font-weight: bold; background-color: white; }

.center {display: block;margin: 0 auto;}

img[alt~="center"]{display: block; margin: 0 auto;}

section::after {font-size: 15px;} */

/* th {background-color: rgb(0, 51, 102); color: white;} */
/* th {background-color: #834461; color: white;}

table{border: 0 !important;}

.column {float: left; width: 45%; padding: 20px;} */

/* Clear floats after the columns */

/* .row:after { content: ""; display: table; clear: both;}

.takeaway {background-color: #834461; color: white; padding: 15px;}

ul ul {list-style-type: '\2192\00A0\00A0' ;}  */